@import './__config.scss';

.error-container{
  margin-top: 4rem !important;
  & figure {
    background-color: $color-bg2 !important;
    border-radius: 15px !important;
    width: 50% !important;
    margin: 0 auto !important;
  }
  .text-error {
    color: $color-text !important;
    font-weight: bold !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    margin-top: 2rem !important;
  }
  & .ant-row{
    justify-content: center !important;
  }
  & .ant-tag{
    background: $color-gradient !important;
    border: none !important;
    padding: 12px !important;
    border-radius: 15px !important;
    & a{
      color: $color-text !important;
    }
  }
}

