@import './_config.scss';

body {
  background: $color-bg1 !important;
  // color: $color-text !important;
};

.logo {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 75px;
}

label {
  color: $color-text !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

/** Tamaño de los inputs **/
input,
.ant-select,
.ant-input-affix-wrapper,
.ant-select-selector {
  background-color: $color-bg2 !important;
  border: solid 1px $color-bg2 !important;
  color: $color-text !important;
  border-radius: 15px !important;
  padding: 0.3rem 0.7rem !important;
}

/** Botón principal **/
.form-button {
  width: 100%;
  background: $color-gradient !important;
  border: none !important;
  color: $color-text !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  font-family: $font-title !important;
  border-radius: 15px !important;
  height: 48px !important;
  margin: 0.7rem 0 !important;
}

/**Iconos**/
.ant-input-affix-wrapper,
.anticon {
  color: $color-text !important;
}

/*****************/
/* FORM REGISTRO  *
/*****************/
.form-container {
  text-align: center !important;
}

.form-register {
  padding: 7rem 5rem 0rem 5rem !important;
}

.form-login {
  padding: 12rem 5rem 0rem 5rem !important;
}

/*****************/
/*  FORM LOGIN   *
/*****************/
.btnJob {
  border: dotted 1px $color-other !important;
  color: $color-text !important;
  font-weight: bold !important;
  min-width: fit-content !important;
  width: 20% !important;
  &:hover {
    background: $color-gradient !important;
    transform: $zoom !important;
    border: none;
  }
}

.text-white {
  color: $color-text !important;
  font-weight: bold !important;
  display: inline-flex !important;
  padding: 2%;
  margin: 1% !important;
  font-size: 18px !important;
}

.text-orange {
  color: $color-other !important;
  font-weight: bold !important;
  display: inline-flex !important;
  padding: 2%;
  margin: 1% !important;
  font-size: 18px !important;
  &:hover {
    transform: $zoom !important;
  }
}


