@import './__config.scss';

* {
  @include swal();
}

.card-menu {
  width: 200px !important; 
  height: 250px !important; 
}

.unstyled-button {
  border: none;
  background: transparent;
}

.ant-card-bordered{
  background: linear-gradient(85deg,#333131,$color-bg2);
  border-radius: 15px !important;
  margin: 2% !important;
  border:  none !important;

  .ant-card-meta-title {
    color: $color-text !important;
    font-size: 16px !important;
  }

  .ant-card-meta-description {
    color: $color-text !important;
    font-size: 20px !important;
    font-weight: bold;
  }

  .ant-card-bordered::selection {
    border: 5px solid $color-other !important;
  }

  .ant-card-cover {
    &  img {
      border-radius: 20px !important;
      width: 100%;
      height: 150px;
    }
  }
  .ant-card-body {
    text-align: center !important;
  }

}

.ant-tabs {
  color: $color-text;
  .ant-tabs-tab {
    font-size: 16px;
  }
  .ant-tabs-ink-bar  {
    background-color: $color-other;
  }
  .ant-tabs-tab-active .ant-tabs-tab-btn{
    background: transparent;
    color: $color-text;
    &:hover {
    background: transparent;
    }
  }
  .ant-tabs-tab:hover {
    color: $color-other;
  }
}

.ant-modal-content {
  border-radius: 10px;
  background-color: #E3E4E5;
  & .ant-modal-close-x svg  {
    color: $color-bg2 !important;
  }
}