@import './__config.scss';

// *{
//   @include reset-pm();
// }

// .food-card{
//   background-color: $color-card !important;
//   color: $color-text !important;
// }

.ant-card-bordered{
  border-radius: 15px !important;
  width: 30% !important;
  padding: 1.8% !important;
  height: 220px !important;
  background-color: $color-card !important;
  margin: 2% !important;
  border: 5px solid $color-other !important;
  .ant-card-bordered,
  .ant-card-cover {
    height: 140px !important;
  }
  img {
    border-radius: 20px !important;
    height:100% !important;
  }
  .ant-card-body {
    text-align: center !important;
  }
  .ant-card-meta-title {
      font-size: x-large !important;
    }
}

// style={{ textAlign: 'center', color: 'white' }}