@import './__config.scss';


.ant-layout-sider-children {
  background-color: $color-bg2 !important;
}

.ant-menu-item {
  margin-bottom: 50px !important;
}

.ant-menu-title-content {
  font-size: 18px;
  text-align: left;
}

.btn-sider {
  background: transparent;
  border:  none !important;
  margin: 2rem 0.9rem;
  &:hover {
    background: $color-gradient;
  }
}

.ant-btn:focus {
  background: transparent;
  color: $color-other;
}

.ant-menu-item-selected {
  background: $color-gradient !important;
}

.ant-menu-item:last-child {
  position: absolute !important;
  font-size: 120%;
  color: $color-bg2;
  bottom: 3% !important;
  padding: 0 !important;
  margin: 0 !important;
  & svg {
  position: absolute;
  top: 0;
  left: 44%;
  }
  &:hover {
    color: $color-bg2;
  }
}