@import './__config.scss';

* {
  @include swal();
}

.columns-container {
  margin-top: 10px !important;
    .ant-card{
    border-radius: 20px !important;
    background-color: #3f3d3d !important;
    color: $color-text !important;
    margin: 0 10px 0 10px !important;
    .ant-card-head {
      text-align: center !important;
      font-weight: bold !important;
    }
    .ant-card-body {
      padding: 24px 10px !important;
      & p {
        font-weight: bold !important;
      }
    }

    .bg-orange{
      background: $color-gradient !important;
      border-radius: 15px !important;
      text-align: center !important;
      width: fit-content !important;
      padding: 0 8px 0 8px !important;
      margin: 0 0 12px 0 !important;
      & span{
        display: inline-block !important;
        padding: 6px 10px !important;
        text-transform: capitalize;
      }
    }
    .bg-order{
      padding: 0 8px !important;
      margin-bottom: 8px !important;
      min-height: 100px !important;
      height: auto !important;
    }
    .btn-container{
      margin: auto !important;
    }
    .form-button{
      padding: 0px 20px !important;
      height: 40px !important;
    }
  }
  .productlist-text-dark {
    color: black;
  }
}