@import './__config.scss';

* {
  @include swal();
}

.ant-card-head-title {
    color: white !important;
}

.ant-card-body {
    width: 100% !important;
}
  
.card-create-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3f3d3d !important;
    box-shadow: -2rem 0 3rem -2rem #1b1824  !important;
}

.option-select:not(:disabled):hover {
    background-color: $color-other !important;
}
  
.form-create-order > input {
    height: 35px;
}

.form-create-order > textarea {
    border-radius: 10px !important;
}
  
.ant-input-textarea-show-count::after {
    color: #FFFFFF !important;
}
  
.form-create-order .form-button {
    margin: 0 !important;
}

.order-client {
    width: 100%;
    height: auto;
    min-height: 100px;
}

.product-name {
    width: 150px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-icon.anticon svg {
    color: $color-other;
    cursor: pointer;
}

.product-icon-delete.anticon svg:hover {
    color: red;
}


  