@import './__config.scss';

* {
  @include swal();
}

.profile-container{
  min-height: "100vh";
  text-align: center !important;
  & figure{
    text-align: center !important;
    color: $color-other !important;
    margin-bottom: 50px !important;
    font-weight: bold !important;
    & img{
      background: $color-other !important;
      border-radius: 50% !important;
    }
  }
  & figcaption{
    margin-top: 20px !important;
    font-size: 20px !important;
  }
  & figcaption span {
    text-transform: capitalize;
  }
  .text-status{
    color: $color-text !important;
  }
  & textarea{
    border-radius: 15px !important;
    background-color: $color-bg2 !important;
    border: none !important;
    color: $color-bg3 !important;
    width: 40% !important;
    text-align: center !important;
    height: 60px !important;
  }
  & .btn-profile {
    background: $color-gradient !important;
    border: none !important;
    border-radius: 15px !important;
    margin: 20px 10px!important;
  }
  .container-btn-file{
    display: inline-block !important;
    position: relative !important;
    background-color: transparent;
    color: $color-other !important;
    border: 2px solid $color-other !important;
    padding: 12px 20px;
    border-radius: 8px !important;
    right: -60% !important;
    top: -150px !important;
    &:hover{
      background: $color-gradient !important;
      cursor: pointer !important;
    }
    & input[type="file"] {
      appearance: none !important;
      display: none !important;
      visibility: hidden !important;
      opacity: 0 !important;
    }
    & label{
      display: block !important;
      position: absolute !important;
      width: 100% !important;
      height: 100% !important;
      z-index: 1;
      top: 0 !important;
      left: 0 !important;
    }
  }
}