@media only screen and (min-width: 1024px) {
    body {
      background-image: url(../images/hamburgerbg.png);
      background-repeat: no-repeat;
      background-size: 80% ;
      background-position: -150% 40%;
    }
    .form{
      position:absolute;
      top: 15%;
      left: 47%;
      width: 50%;
    }
    .btn-login {
      text-align: center !important;
      margin: 4rem 0 0 25rem !important;
    }
  }
  
  @media only screen and (min-width: 1440px) {
    .btn-login {
      text-align: center !important;
      margin: 4rem 0 0 48rem !important;
    }
  }
