@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$color1: #0E0A17;
$color2: #585858;
$color3: #CECBCB;
$color4: #E5E3E3;
$color5: #F5F5F6;
$color-gradient: linear-gradient(270deg, #FFC62B 0%, #ED7800 156.5%);
$font1: 'Roboto', sans-serif;