@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&display=swap');
$color-bg1: #0E0A17;
$color-bg2: #585858;
$color-bg3: #CECBCB;
$color-card: #E5E3E3;
$color-text: #F5F5F6;
$color-gradient: linear-gradient(270deg, #FFC62B 0%, #ED7800 156.5%);
$font-title: 'Roboto', sans-serif;
$font-body: 'Montserrat', sans-serif;

.logo {
    position: fixed;
    right: 3%;
    top: 3%;
}